<!DOCTYPE html>
<html>
<head>
  <title>LocalPractice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "한국어", url_for(locale: :ko) %>
  <%= link_to "English", url_for(locale: :en) %>
<%= yield %>

</body>
</html>
