<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 py-4">
          <h4 class="text-white">Info</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li class="text-white"><%= current_user.nickname if user_signed_in?%></li>
            <li><%= link_to "게시판", posts_path, class: "text-white"%></li>
            <% unless user_signed_in? %>
              <li><%= link_to "로그인", new_user_session_path,  class: "text-white" %></li>
              <li><%= link_to "회원가입", "/users/sign_up",  class: "text-white" %></li>
            <% else %>
              <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: {confirm: '로그아웃 할꺼야?'},  class: "text-white" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark">
    <div class="container d-flex justify-content-between">
      <a href="/" class="navbar-brand">WATCHA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
